<span class="badge bg-primary" style="margin-left: 10PX;">Canada</span>
<span class="badge bg-secondary" style="margin-left: 10PX;">Estados Unidos</span>
<span class="badge bg-success" style="margin-left: 10PX;">México</span>
<span class="badge bg-danger" style="margin-left: 10PX;">Francia</span>
<span class="badge bg-warning" style="margin-left: 10PX;">España</span>
<span class="badge bg-info" style="margin-left: 10PX;">Inglaterra</span>
<span class="badge bg-light" style="margin-left: 10PX;">Rusia</span>
<span class="badge bg-dark" style="margin-left: 10PX;">Japón</span>
<span class="badge bg-primary" style="margin-left: 10PX;">China</span>
<span class="badge bg-secondary" style="margin-left: 10PX;">Italia</span>
