<app-navbar></app-navbar>
<div align="center"  >
    <img src="assets\imagenes\SENAPP (1).png" alt="Logo" >
</div>


 <!--
<div class="conteiner">
    <div align="center">
        <app-form (envioCard)="addCard($event)"></app-form>
    
     </div>
    <div class="row">
        <div class="col-4" *ngFor="let item of dataCard">
            <app-card [Title]="item.Title" [UrlImg]="item.UrlImg"  [description]="item.description" [buttonText]="item.buttonText"></app-card>
        </div>
    </div>
</div> 
 <br><br><br>

<app-badges></app-badges>
-->

<router-outlet></router-outlet>
