  <div align="center">
    <div class="mb-3 col-3" align="center">
        <label for="exampleFormControlInput1" class="form-label" style="color:rgb(0, 250, 229);">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3 col-3" align="center">
        <label for="exampleFormControlTextarea1" class="form-label"  style="color:rgb(0, 250, 229);">Comments</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
  </div>